body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  h1 {
    color: #00ffff;
  }
  #challenge {
    background-color: #1e1e1e;
    border: 1px solid #444;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    text-align: center;
  }
  input[type="text"] {
    padding: 10px;
    margin-top: 10px;
    width: 80%;
    border: none;
    border-radius: 5px;
  }
  /* UmyYkJSK2OEN/0NvIwD5BXTkf70gwKUOf1zkBi4rvOc= */
  button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #00ffff;
    color: #000;
    cursor: pointer;
  }
  #result {
    margin-top: 15px;
  }
